.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 1rem 0;
  flex: 1;
}

.apps {
  margin-top: 40px;
}

.app {
  font-size: 32px;
  margin: 0;
}

.app:hover {
  color: #8a63d2;
}
